.DS_Store
.dart_tool/

*.iml
.idea

pubspec.lock
example/pubspec.lock

.packages
.pub/
packages/golden_toolkit/.idea/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# don't check in golden failure output
**/failures/*.png

# FVM Version Cache
.fvm/